version: '3'

services:
  mysql:
    image: mariadb:10.5
    command: --innodb_force_recovery=1
    ports:
      - "3306:3306"
    volumes:
      - ./container/mysql/var/lib/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=crystal
      - MYSQL_USER=crystal
      - MYSQL_PASSWORD=crystal
      - MYSQL_ROOT_PASSWORD=crystal